@charset "utf-8";

$primary-color: #242f9b;
$error-color: #ff3333;
$button-width: 80px;
$button-height: 40px;
$button-radius: 5px;

.edit-task {
  width: 1000px;
  margin: 0 auto;

  &-form {
    color: #555555;
  }

  &-title,
  &-detail {
    width: 300px;
    margin-bottom: 25px;
  }
  &-date{
    margin-bottom: 20px;
  }
  &-button{
    width: $button-width;
    height: $button-height;
    border-radius: $button-radius;
    margin: 25px 5px;
  }

  &-button {
    background-color: $primary-color;
    color: #ffffff;
  }

  &-button.delete-task-button {
    color: $error-color;
    border: solid 1px $error-color;
  }
}
.delete-task-button{
    padding:10px;
    border-radius: $button-radius;
    background-color: #ff3333;
}
.error-message {
  color: $error-color;
}

@media (max-width: 768px) {
    .edit-task {
      width: 90%; // 画面幅に合わせて調整
  
      &-title,
      &-detail {
        width: 100%; // 親要素の幅に合わせて調整
        margin-bottom: 20px; // マージンを少し調整
      }
  
      &-button{
        width: 100px; // ボタンの幅を拡大
        height: 50px; // ボタンの高さを拡大
        margin: 15px 5%;
      }
    }
    .delete-task-button{
        padding:10px;
        height: 50px;
        border-radius: $button-radius;
        background-color: #ff3333;
        // margin: 20px auto; // 中央に配置
    }
    .error-message {
      font-size: 14px; // フォントサイズを調整
    }
  }
  
  // 320px用のメディアクエリ
  @media (max-width: 320px) {
    .edit-task {
      width: 100%; // 画面幅いっぱいに広がる
  
      &-title,
      &-detail {
        width: 100%; // 親要素の幅に合わせて調整
        margin-bottom: 15px; // マージンをさらに減少
      }
  
      &-button{
        width: 90px; // 親要素の幅のほとんどを使用
        height: 45px; // 高さを少し調整
        margin: 15px 5%; // より大きなマージン
      }
    }
    .delete-task-button{
        padding:10px;
        height: 45px;
        border-radius: $button-radius;
        background-color: #ff3333;
        // margin: 20px auto; // 中央に配置
    }
    .error-message {
      font-size: 12px; // フォントサイズをさらに小さく
    }
  }