@charset "utf-8";

.edit-list {
    width: 1000px;
    margin: 0 auto;
  
    &-form {
      color: #555555;
    }
  
    &-title {
      width: 300px;
      margin-bottom: 25px;
    }
  
    &-button {
      width: 80px;
      height: 40px;
      border-radius: 5px;
  
      &.delete-list-button {
        color: #ff3333;
        border: solid 1px #ff3333;
        margin: 25px 5px;
      }
  
      &.edit-list-button {
        background-color: #242f9b;
        color: #ffffff;
      }
    }
  }
  
  .error-message {
    color: #ff3333;
  }
  
  @media (max-width: 768px) {
    .edit-list {
      width: 100%; // 画面の幅に応じて調整
  
      &-title {
        width: 80%; // 親要素の幅に応じて調整
      }
  
      &-button {
        width: 100px; // ボタンの幅を拡大
        height: 50px; // ボタンの高さを拡大
  
        &.delete-list-button,
        &.edit-list-button {
          width: 200px; // コンテンツの幅に合わせて自動調整
          margin: 20px 10px; // マージン調整
        }
      }
    }
  }

  @media (max-width: 320px) {
    .edit-list {
      width: 100%; // 画面幅いっぱいに広がる
  
      &-title {
        width: 95%; // 親要素の幅に合わせて調整
        margin-bottom: 15px; // 下マージンを減少
      }
  
      &-button {
        width: 90%; // ボタンの幅をさらに拡大
        height: 45px; // 高さを少し調整
  
        &.delete-list-button,
        &.edit-list-button {
          width: 100%; // 親要素の幅いっぱいに広がる
          margin: 15px 0; // マージン調整
        }
      }
    }
  
    .error-message {
      font-size: 12px; // エラーメッセージのフォントサイズを小さくする
    }
  }