@charset "utf-8";

.edit-list {
    width: 1000px;
    margin: 0 auto;
  
    &-form {
      color: #555555;
    }
  
    &-title {
      width: 300px;
      margin-bottom: 25px;
    }
  
    &-button {
      width: 100px;
      height: 40px;
      border-radius: 5px;
      margin :10px;
      &.edit-list-button {
        background-color: #242f9b;
        color: #ffffff;
      }
    }
  }
  
  .delete-list-button{
    width: 50px;
    padding:10px;
    border-radius: 5px;
    background-color: #ff3333;
}
  .error-message {
    color: #ff3333;
  }
  
  @media (max-width: 768px) {
    .edit-list {
      width: 100%; 
  
      &-title {
        width: 80%; 
      }
  
      &-button {
        height: 50px; 
  
        &.edit-list-button {
          width: 200px; 
          margin: 20px 10px; 
        }
      }
    }
    .delete-list-button{
        height: 50px;
        width: 70px;
        padding:10px;
        border-radius: 5px;
        background-color: #ff3333;
    }
  }

  @media (max-width: 320px) {
    .edit-list {
      width: 100%; 
  
      &-title {
        width: 95%; 
        margin-bottom: 15px; 
      }
  
      &-button {
        width: 90%; 
        height: 45px; 
  
        &.delete-list-button,
        &.edit-list-button {
          width: 80px; 
          margin: 15px; 
        }
      }
    }
    .delete-list-button{
        height: 45px;
        width: 70px;
        padding:10px;
        border-radius: 5px;
        background-color: #ff3333;
    }
    .error-message {
      font-size: 12px; 
    }
  }