@charset "utf-8";

$new-list-color: #242f9b;
$white-color: #ffffff;
$grey-color: #555555;

.new-list {
  width: 1000px;
  margin: 0 auto;

  &-form {
    color: $grey-color;
  }

  &-title {
    width: 300px;
    margin-bottom: 25px;
  }

  &-button {
    background-color: $new-list-color;
    color: $white-color;
    width: 80px;
    height: 40px;
    border-radius: 5px;
  }
}
@media (max-width: 768px) {
    .new-list {
      width: 90%;
  
      &-title {
        width: 90%;
        margin-bottom: 20px;
      }
  
      &-button {
        width: 90%;
        height: 50px;
      }
    }
  }
  
  @media (max-width: 320px) {
    .new-list {
      width: 100%;
  
      &-title {
        width: 90%;
        margin-bottom: 15px;
      }
  
      &-button {
        width: 90%; 
        height: 45px;
        margin: 10px auto; 
      }
    }
  }