@charset "utf-8";

$base-width: 500px;
$form-margin: 25px 0;
$text-color: #555555;
$input-height: 30px;
$button-color: #242f9b;
$button-width: 100px;
$button-height: 40px;
$border-radius: 5px;
$error-color: #ff3333;

.signup {
  width: $base-width;
  margin: 0 auto;

  &-form {
    margin: $form-margin;
    color: $text-color;

    input {
      width: 100%;
      font-size: large;
      height: $input-height;
      margin-bottom: 25px;
    }
  }

  &-button {
    background-color: $button-color;
    color: #ffffff;
    width: $button-width;
    height: $button-height;
    border-radius: $border-radius;
  }
}

.error-message {
  color: $error-color;
}

@media (max-width: 768px) {
    .signup {
      width: 90%;
  
      &-form {
        input {
          font-size: medium; // 画面が小さいときのフォントサイズを調整
        }
      }
  
      &-button {
        width: 100%; // ボタンの幅を画面幅に合わせて調整
      }
    }
  }
  
  // 320px用のメディアクエリ
  @media (max-width: 320px) {
    .signup {
      width: 100%; // 画面が非常に小さい場合は全幅を使用
  
      &-form {
        input {
          font-size: small; // さらに小さいフォントサイズ
          height: $input-height - 5px; // 高さを少し減らす
        }
      }
  
      &-button {
        width: 100%; // ボタンの幅を画面幅に合わせて調整
        height: $button-height - 5px; // ボタンの高さを少し減らす
      }
    }
  
    .error-message {
      font-size: 12px; // エラーメッセージのフォントサイズを小さくする
    }
  }